<div class="main-form">
    <app-greeting class="main-form-left"></app-greeting>
    <div class="main-form-right">
        <div class="form-content">
            <h2>{{formHeader}}</h2>
            <form [formGroup]="loginForm" method="post" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="form-group">
                    <input type="text" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <div class="mb-3"><a class="link" routerLink="/sign-up">Sign up</a></div>
                <button [disabled]="loginForm.invalid" class="btn-regular btn-colored" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
